.head_bloc {
  display: flex;
  justify-content: space-between;
}

.button_bloc_teacher {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.copying_bloc {
  display: flex;
  justify-content: space-between;
}

.copying_icon {
  text-align: start;
  width: 100px;
}

.popover_bloc {
  display: flex;
  justify-content: start;
  align-items: center;
}

.info_button {
  padding-top: 0;
}

.info_button:hover {
  background-color: inherit;
}