.head_bloc {
  display: flex;
  justify-content: space-between;
}

.button_bloc {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.copying_bloc {
  display: flex;
  justify-content: space-between;
}

.copying_icon {
  text-align: start;
  width: 100px;
}
