.divider_height {
  height: 300px;
}

.popover_button {
  margin-right: 100%;
  padding-left: 0;
}

.popover_button:hover {
  background-color: inherit;
}

.button_bloc_promotion {
  display: flex;
  justify-content: space-between;
  width: 240px;
}

.table-row-red {
  background: rgba(255, 0, 0, 0.76);
  /*  pointer-events: none; */
  cursor: not-allowed;
}
.table-row-red:hover {
  background: rgba(255, 0, 0, 0.76) !important;
}

table:hover,
tr:hover,
thead:hover {
  background: #f2f2f260 !important;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
  background: none !important;
}
