.divider_height {
  height: 300px;
}

.popover_button {
  margin-right: 100%;
  padding-left: 0;
}

.popover_button:hover {
  background-color: inherit;
}

.button_bloc_promotion {
  display: flex;
  justify-content: space-between;
  width: 240px;
}

.table-row-red {
  background: #ff4d4fe8;
  /*  pointer-events: none; */
  cursor: not-allowed;
}
.table-row-red:hover {
  background: #ff4d4fe8 !important;
}

table:hover,
tr:hover,
thead:hover {
  background: #f2f2f260 !important;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
  background: none !important;
}

.disabled_input {
  cursor: not-allowed;
  background: #f5f5f5 !important;
  border-color: #d4d4d4 !important;
}

.disabled_input:hover {
  background: #f5f5f5;
  border-color: #d4d4d4 !important;
}
